body {            
    font-family: Arial, sans-serif; color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.cadastro-container {
    background-color: rgb(255, 255, 255);
    padding: 65px;
    border-radius: 10px;
    box-shadow: 0 0 10px  #b6b6b6;
    width: 400px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 35px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
}
input[type="text"]
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}
button {
    width: 100%;
    padding: 10px;
    border: 2px;
    border-radius: 3px;
    background-color: red;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(152, 0, 0);
}
.forgot-password a {
    color: #ff0000;
    text-decoration: none;
}
.forgot-password a {
        color: rgb(255, 0, 0);
        text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}